:root {
  --block_bg: #0B0C10;
  --page_bg: #1F2833;

  --color_back_page: #272727;
  --color_back_block: #14191e;

  --color_txt: #C5C6C7;
  --color_txt2: rgba(255, 255, 255, 0.6);

  --color_title: #66FCF1;
  --color_link: #66FCF1;
  --color_border: #a7a7a7;

  --size_height_header: 50px;
  --size_menu_width: 120px;

  /* --size_height_main: calc(100% - var(--size_height_header) - var(--size_height_footer)); */
  
  --error-color: #df1924;
  --error-bg: #fdd5d5;

  --notify-color: #19df29;
  --notify-bg: #d5fdd5;

  --warning-color: #ff8d12;

  --outcome_bg: #E74C3C;
  --income_bg: #27AE60;

  --btn_bg: #45a29e;
} 

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: var(--color_link);
  text-decoration: none;
}

img {
  max-width: 100%;
}

#root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: var(--size_height_header) var(--size_height_header) auto;
  grid-template-areas:
    "header"
    "menu" 
    "main";
  gap: 5px;
  height: 100vh;
  /* width: 100vw; */
  background: var(--page_bg);
  color: var(--color_txt);
}