.main {
  margin-top: 17px;
  grid-area: main;
}
.publishers label {
  margin-top: 5px;
  display: flex;
}
.publishers label span {
  width: 100px;
}

.publishers table {
  margin-top: 15px;
  width: 100%;
}

.publishers th {
  padding-bottom: 4px;
}

.publishers td {
  padding-top: 2px;
  margin: 0 3px;
  font-size: 13px;
  text-align: center;
}

.publishers th:nth-child(1),
.publishers th:nth-child(2),
.publishers td:nth-child(1),
.publishers td:nth-child(2) {
  text-align-last: left;
}


.section__content {
  position: relative;

}

.section__tabs {
  display: flex;
}

.section__tabs .tab {
  position: relative;
  margin: 0 2px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  z-index: 2;
  background: var(--block_bg);
  cursor: pointer;
}

.section__tabs .tab.tab_active {
  border: 1px solid #fff;
  border-bottom: 0;
  cursor: default;
  z-index: 3;
}

.tab__content {
  margin-top: -1px;
  z-index: 1;
  border-top: 1px solid #fff;
  position: absolute;
  padding-top: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 96px);
  background: var(--block_bg);
}

.tab__content.tab__content_active {
  z-index: 2;
}
.s88-table {
  border-collapse: collapse;
  border: 1px solid grey;
}
.s88-table th,
.s88-table td  {
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid grey;
}

.s88-table th:nth-child(2), .s88-table th:nth-child(3) {
  width: 70px;
}

.s88-table tr:nth-child(1) td,
.s88-table tr:nth-child(3) td {
  color: red;
  font-size: 12px;
}

.s88-table__empty {
  background: red;
}

.s88-table tr:nth-child(1) td:nth-child(1),
.s88-table tr:nth-child(3) td:nth-child(1) {
  color: white;
  font-weight: bold;
}
.s88-table input {
  width: 30px;
  background: transparent;
  border: 0;
  outline: none;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}