.main {
  grid-area: main;
}


.publishers table {
  margin-top: 15px;
  width: 100%;
}

.publishers th {
  padding-bottom: 4px;
}

.publishers td {
  padding-top: 2px;
  margin: 0 3px;
  font-size: 13px;
  text-align: center;
}
.publishers th:nth-child(1),
.publishers th:nth-child(2),
.publishers td:nth-child(1),
.publishers td:nth-child(2) {
  text-align-last: left;
}