.main {
  margin-top: 10px;
  min-height: calc(100vh - 125px);
}

.section__content {
  position: relative;

}

.section__tabs {
  display: flex;
}

.section__tabs .tab {
  position: relative;
  margin: 0 2px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  z-index: 2;
  background: var(--block_bg);
  cursor: pointer;
}

.section__tabs .tab.tab_active {
  border: 1px solid #fff;
  border-bottom: 0;
  cursor: default;
  z-index: 3;
}

.tab__content {
  z-index: 1;
  border-top: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: var(--block_bg);
}

.tab__content.tab__content_active {
  z-index: 2;
}

label {
  display: block;
}


.s88-table {
  border-collapse: collapse;
  border: 1px solid grey;
}
.s88-table th,
.s88-table td  {
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid grey;
}

.s88-table th:nth-child(2), .s88-table th:nth-child(3) {
  width: 70px;
}

.s88-table tr:nth-child(1) td,
.s88-table tr:nth-child(3) td {
  color: red;
  font-size: 12px;
}

.s88-table__empty {
  background: red;
}

.s88-table tr:nth-child(1) td:nth-child(1),
.s88-table tr:nth-child(3) td:nth-child(1) {
  color: white;
  font-weight: bold;
}
.s88-table input {
  width: 30px;
  background: transparent;
  border: 0;
  outline: none;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}