.menu {margin-top: 17px;
  grid-area: menu;
  padding-top: 0;
}

.menu nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.menu__item { 
  display: block;
  margin-top: 4px;
  border: 0;
  outline: none;
  padding: 2px 5px;
  background: none;
  color: var(--color_link);
  cursor: pointer;
  text-align: left;
}

.menu__item.active,
.menu__item:hover {
  border-left: 2px solid green;
  padding-left: 10px;
  margin-left: 2px;
  color: var(--btn_bg);
}