* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: var(--color_link);
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  display: grid;
  grid-template-columns: var(--size_menu_width) auto;
  grid-template-rows: var(--size_height_header) auto;
  grid-template-areas:
    "header header"
    "menu main";
  gap: 5px;
  height: 100vh;
  background: var(--page_bg);
  color: var(--color_txt);
}

/* Убираем стрелочки у input[type="number"] */
input[type=number] {
  -moz-appearance: textfield;   /* Firefox */
  -webkit-appearance: none;     /* Chrome, Safari, Edge */
  appearance: none;
}

/* Убираем стрелки в WebKit-браузерах (Chrome, Safari, новый Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.block {
  padding: 10px;
  background: var(--block_bg);
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 1024px;
}

.table .thead {
  display: flex;
  font-weight: bold;
  padding-top: 10px;
}

.table .tbody {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table div {
  margin-top: 5px;
  display: flex;
  border-top: 1px solid;
}

.table .tbody div {
  padding-top: 3px;
  width: 100%;
  align-items: center;
}

.table span {
  display: flex;
  padding: 2px;
  margin: 0 2px;
  cursor: default;
}

.publishers  span:nth-child(1) {
  width: 110px;
}
.publishers  span:nth-child(2) {
  width: 95px;
}
.publishers  span:nth-child(3) {
  width: 115px;
}
.publishers  span:nth-child(4) {
  width: 230px;
}
.publishers  span:nth-child(5) {
  width: 90px;
}
.publishers  span:nth-child(6) {
  width: 90px;
}
.publishers  span:nth-child(7) {
  width: 55px;
}
.publishers  span:nth-child(8) {
  width: 30px;
}
.publishers  span:nth-child(n+9) {
  width: 25px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}

.publishers .table .tbody i {
  padding: 2px;
  width: 25px;
  font-style: normal;
  color: #cf3045;
  cursor: pointer;
}