* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: var(--color_link);
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background: var(--page_bg);
  color: var(--color_txt);
}

/* Убираем стрелочки у input[type="number"] */
input[type=number] {
  -moz-appearance: textfield;   /* Firefox */
  -webkit-appearance: none;     /* Chrome, Safari, Edge */
  appearance: none;
}

/* Убираем стрелки в WebKit-браузерах (Chrome, Safari, новый Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.block {
  background: var(--block_bg);
}

