* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: var(--color_link);
  text-decoration: none;
}

img {
  max-width: 100%;
}

#app {
  display: grid;
  grid-template-columns: var(--size_menu_width) auto;
  grid-template-rows: var(--size_height_header) auto;
  grid-template-areas:
    "header header"
    "menu main";
  gap: 5px;
  height: 100vh;
  width: 100vw;
  background: var(--page_bg);
  color: var(--color_txt);
}

.block {
  padding: 10px;
  background: var(--block_bg);
}